<robot name="roboarm" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Xacro properties -->
    <xacro:property name="base_length" value="0.5" />
    <xacro:property name="base_height" value="0.1" />
    <xacro:property name="body_radius" value="0.1" />
    <xacro:property name="body_length" value="0.4" />
    <xacro:property name="root_radius" value="0.05" />
    <xacro:property name="root_length" value="0.05" />
    <xacro:property name="arm_width" value="0.05" />
    <xacro:property name="arm_length" value="0.5" />
    <!-- Xacro macros -->
    <xacro:macro name="root_link" params="number y_offset_sign">
        <link name="root${number}_link">
            <visual>
                <geometry>
                    <cylinder radius="${root_radius}" length="${root_length}" />
                </geometry>
                <origin xyz="0 ${root_length * y_offset_sign / 2} 0" rpy="${pi / 2} 0 0" />
                <material name="gray" />
            </visual>
        </link>
    </xacro:macro>
    <xacro:macro name="box_inertia" params="m x y z o_xyz o_rpy">
    <inertial>
        <mass value="${m}" />
        <origin xyz="${o_xyz}" rpy="${o_rpy}" />
        <inertia ixx="${(m/12) * (z*z + y*y)}" ixy="0" ixz="0"
                 iyy="${(m/12) * (x*x + z*z)}" iyz="0"
                 izz="${(m/12) * (x*x + y*y)}" />
        </inertial>
    </xacro:macro>
    <xacro:macro name="cylinder_inertia" params="m r l o_xyz o_rpy">
        <inertial>
            <mass value="${m}" />
            <origin xyz="${o_xyz}" rpy="${o_rpy}" />
            <inertia ixx="${(m/12) * (3*r*r + l*l)}" ixy="0" ixz="0"
                     iyy="${(m/12) * (3*r*r + l*l)}" iyz="0"
                     izz="${(m/2) * (r*r)}" />
        </inertial>
    </xacro:macro>
    <xacro:macro name="sphere_inertia" params="m r o_xyz o_rpy">
        <inertial>
            <mass value="${m}" />
            <origin xyz="${o_xyz}" rpy="${o_rpy}" />
            <inertia ixx="${(2/5) * m * r * r}" ixy="0" ixz="0"
                     iyy="${(2/5) * m * r * r}" iyz="0"
                     izz="${(2/5) * m * r * r}" />
        </inertial>
    </xacro:macro>
    <!-- Materials -->
    <material name="black">
        <color rgba="0 0 0 1" />
    </material>
    <material name="orange">
        <color rgba="1 0.64 0 1" />
    </material>
    <material name="gray">
        <color rgba="0.7 0.7 0.7 1" />
    </material>
    <!-- Links -->
    <link name="base_link">
        <visual>
            <geometry>
                <box size="${base_length} ${base_length} ${base_height}" />
            </geometry>
            <origin xyz="0 0 ${base_height  / 2}" rpy="0 0 0" />
            <material name="black" />
        </visual>
    </link>
    <link name="body_link">
        <visual>
            <geometry>
                <cylinder radius="${body_radius}" length="${body_length}" />
            </geometry>
            <origin xyz="0 0 ${body_length / 2}" rpy="0 0 0" />
            <material name="orange" />
        </visual>
    </link>
    <link name="root1_link">
        <visual>
            <geometry>
                <cylinder radius="${root_radius}" length="${root_length}" />
            </geometry>
            <origin xyz="0 ${root_length / 2} 0" rpy="${pi / 2} 0 0" />
            <material name="gray" />
        </visual>
    </link>
    <link name="shoulder_link">
        <visual>
            <geometry>
                <box size="${arm_width} ${arm_width} ${arm_length}" />
            </geometry>
            <origin xyz="0 ${arm_width / 2} ${(arm_length / 2) - root_radius}" rpy="0 0 0" />
            <material name="orange" />
        </visual>
    </link>
    <link name="root2_link">
        <visual>
            <geometry>
                <cylinder radius="${root_radius}" length="${root_length}" />
            </geometry>
            <origin xyz="0 ${-root_length / 2} 0" rpy="${pi / 2} 0 0" />
            <material name="gray" />
        </visual>
    </link>
    <link name="forearm_link">
        <visual>
            <geometry>
                <box size="${arm_width} ${arm_width} ${arm_length}" />
            </geometry>
            <origin xyz="0 ${-arm_width / 2} ${(arm_length / 2) - root_radius}" rpy="0 0 0" />
            <material name="orange" />
        </visual>
    </link>
    <link name="root3_link">
        <visual>
            <geometry>
                <cylinder radius="${root_radius}" length="${root_length}" />
            </geometry>
            <origin xyz="0 ${root_length / 2} 0" rpy="${pi / 2} 0 0" />
            <material name="gray" />
        </visual>
    </link>
    <link name="wrist_link">
        <visual>
            <geometry>
                <box size="${arm_width} ${arm_width} ${arm_length * 0.5}" />
            </geometry>
            <origin xyz="0 ${arm_width / 2} ${(arm_length * 0.5 / 2) - root_radius}" rpy="0 0 0" />
            <material name="orange" />
        </visual>
    </link>
    <link name="root4_link">
        <visual>
            <geometry>
                <cylinder radius="${root_radius}" length="${root_length}" />
            </geometry>
            <origin xyz="0 0 ${root_length / 2}" rpy="0 0 0" />
            <material name="gray" />
        </visual>
    </link>
    <link name="palm_link">
        <visual>
            <geometry>
                <box size="${arm_width * 3} ${arm_width} ${arm_width}" />
            </geometry>
            <origin xyz="0 0 ${arm_width / 2}" rpy="0 0 0" />
            <material name="orange" />
        </visual>
    </link>
    <link name="left_finger_link">
        <visual>
            <geometry>
                <box size="${arm_width * 0.5} ${arm_width * 0.5} ${arm_width * 4}" />
            </geometry>
            <origin xyz="0 0 ${arm_width * 4 / 2}" rpy="0 0 0" />
            <material name="orange" />
        </visual>
    </link>
    <link name="right_finger_link">
        <visual>
            <geometry>
                <box size="${arm_width * 0.5} ${arm_width * 0.5} ${arm_width * 4}" />
            </geometry>
            <origin xyz="0 0 ${arm_width * 4 / 2}" rpy="0 0 0" />
            <material name="orange" />
        </visual>
    </link>
    <!-- Joints -->
    <joint name="base_body_joint" type="revolute">
        <parent link="base_link" />
        <child link="body_link" />
        <origin xyz="0 0 ${base_height}" rpy="0 0 0" />
        <axis xyz="0 0 1" />
        <limit lower="${-pi}" upper="${pi}" velocity="100" effort="100"/>
    </joint>
    <joint name="body_root1_joint" type="revolute">
        <parent link="body_link" />
        <child link="root1_link" />
        <origin xyz="0 ${body_radius} ${body_length - root_radius}" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <limit lower="${-pi}" upper="${pi}" velocity="100" effort="100"/>    
    </joint>
    <joint name="root1_shoulder_joint" type="fixed">
        <parent link="root1_link" />
        <child link="shoulder_link" />
        <origin xyz="0 ${root_length} 0" rpy="0 0 0" />
    </joint>
    <joint name="shoulder_root2_joint" type="revolute">
        <parent link="shoulder_link" />
        <child link="root2_link" />
        <origin xyz="0 0 ${arm_length - (2 * root_radius)}" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <limit lower="${-pi}" upper="${pi}" velocity="100" effort="100"/>    
    </joint>
    <joint name="root2_forearm_joint" type="fixed">
        <parent link="root2_link" />
        <child link="forearm_link" />
        <origin xyz="0 ${-root_length} 0" rpy="0 0 0" />
    </joint>
    <joint name="forearm_root3_joint" type="revolute">
        <parent link="forearm_link" />
        <child link="root3_link" />
        <origin xyz="0 0 ${arm_length - (2 * root_radius)}" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <limit lower="${-pi}" upper="${pi}" velocity="100" effort="100"/>    
    </joint>
    <joint name="root3_wrist_joint" type="fixed">
        <parent link="root3_link" />
        <child link="wrist_link" />
        <origin xyz="0 ${root_length} 0" rpy="0 0 0" />
    </joint>
    <joint name="wrist_root4_joint" type="revolute">
        <parent link="wrist_link" />
        <child link="root4_link" />
        <origin xyz="0 ${arm_width / 2} ${(arm_length * 0.5) - root_radius}" rpy="0 0 0" />
        <axis xyz="0 0 1" />
        <limit lower="${-pi}" upper="${pi}" velocity="100" effort="100"/>    
    </joint>
    <joint name="root4_palm_joint" type="fixed">
        <parent link="root4_link" />
        <child link="palm_link" />
        <origin xyz="0 0 ${root_length}" rpy="0 0 0" />
    </joint>
    <joint name="palm_left_finger_joint" type="prismatic">
        <parent link="palm_link" />
        <child link="left_finger_link" />
        <origin xyz="${(-arm_width * 3 / 2) + (arm_width * 0.5 / 2)} 0 ${arm_width}" rpy="0 0 0" />
        <axis xyz="1 0 0" />
        <limit lower="0" upper="${(arm_width * 3 / 2) - (arm_width * 0.5)}" velocity="100" effort="100"/>  
    </joint>
    <joint name="palm_right_finger_joint" type="prismatic">
        <parent link="palm_link" />
        <child link="right_finger_link" />
        <origin xyz="${(arm_width * 3 / 2) - (arm_width * 0.5 / 2)} 0 ${arm_width}" rpy="0 0 0" />
        <axis xyz="1 0 0" />
        <limit lower="${-(arm_width * 3 / 2) + (arm_width * 0.5)}" upper="0" velocity="100" effort="100"/>  
    </joint>
</robot>